# Next.js
client/.next/
client/out/
client/build/

# Node.js
node_modules/
dist/
dist-ssr/
build/

# Logs
logs/
*.log
build_log.txt
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Testing
coverage/

# OS
.DS_Store
Thumbs.db
desktop.ini

# Editor
.vscode/*
!.vscode/extensions.json
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Environment
.env
.env.development
.env.production
.env.local
.env.test

# Project Specific
server/uploads/
client/dist/
client/node_modules/
server/node_modules/
.agent/


#DB
*.sqlite-wal
*.sqlite-shm
*.sqlite
*.db
*.sqlite3
server/database.sqlite
server/database.sqlite-*
database/


.gemini/
.gemini.md