.profile-tabs {
  margin-bottom: 0;
}

.profile-tabs__nav .ant-tabs-nav {
  margin-bottom: 0 !important;
}

.profile-tabs__nav .ant-tabs-nav::before {
  border-bottom: none !important;
}

.profile-tabs__nav .ant-tabs-nav-list {
  background: #e9ecf5;
  padding: 6px;
  border-radius: 12px;
  display: inline-flex !important;
  border: 1px solid rgba(0, 0, 0, 0.01);
}

.profile-tabs__nav .ant-tabs-tab {
  margin: 0 !important;
  padding: 10px 24px !important;
  border-radius: 8px !important;
  transition: all 0.3s ease;
  border-bottom: none !important;
}

.profile-tabs__nav .ant-tabs-tab:hover {
  color: #5932ea !important;
}

.profile-tabs__nav .ant-tabs-tab-active {
  background: #ffffff !important;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.06);
}

.profile-tabs__nav .ant-tabs-tab-btn {
  color: #7e8299 !important;
  font-weight: 600 !important;
  font-size: 14px !important;
}

.profile-tabs__nav .ant-tabs-tab-active .ant-tabs-tab-btn {
  color: #5932ea !important;
}

.profile-tabs__nav .ant-tabs-ink-bar {
  display: none !important;
}
