.profile-widget {
  padding: 60px 40px;
  background-color: #f1f4fb;
  min-height: 100vh;
  display: flex;
  justify-content: center;
}

.profile-widget__container {
  width: 100%;
  max-width: 1440px;
}

@media (max-width: 1200px) {
  .profile-widget {
    padding: 32px 20px;
  }
}
